{# -*- mode: jinja2 -*- #}
{% extends "app_base.html" %}

{% block explainer %}{% endblock %}

{% block main %}
<div class="container about-page">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <div class="px-4 my-2 text-center">
        <img alt="logo" src="{{ url_for('static', filename='logo/192x192.png') }}" width="192" height="192">
        <h1 class="display-5 fw-bold">About csvbase</h1>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 text-center">
      <div class="my-3">
        <mark>csvbase is a simple web database.</mark>
      </div>
    </div>
  </div>

  <div class="row my-3">
    <div class="col-lg-6">
      <img class="img-fluid rounded" src="{{ url_for('static', filename='table-screenshot.png') }}">
    </div>
    <div class="col-lg-6 my-3">
      <h2>Easy web interface</h2>
      <ul>
        <li>View, add, edit and delete rows from a browser</li>
        <li>Export to CSV, XLSX, Parquet, etc</li>
        <li>(Coming soon) comment on specific rows</li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6 order-lg-2">
      <img class="img-fluid rounded" src="{{ url_for('static', filename='duckdb-screenshot.png') }}">
    </div>
    <div class="col-lg-6 order-lg-1 my-3">
      <h2>The World&apos;s Easiest API</h2>
      <ul>
        <li>Each table has a single URL, RESTfully accessed by HTTP verb
          <ul>
            <li><code>GET</code> to get the data</li>
            <li><code>PUT</code> to create/overwrite a table</li>
            <li><code>DELETE</code> to delete</li>
            <li><code>POST</code> to bulk add rows</li>
        </ul></li>
        <li>Works out of the box with<ul>
            <li>pandas</li>
            <li>Apache Spark</li>
            <li>R</li>
            <li>DuckDB</li>
            <li>And anything else that can do HTTP</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>

  <div class="row my-3">
    <div class="col-lg-6">
        <video autoplay loop muted id="pasting-video" style="width: 100%" class="rounded">
            <source src="https://csvbase.com/blog-static/pasting.webm" type="video/webm">
        </video>
    </div>
    <div class="col-lg-6 my-3">
      <h2>Upload via paste from Excel</h2>
      <ul>
        <li>Create a table from any CSV file</li>
        <li>Or paste cells directly from Microsoft Excel</li>
        <li>Each table gets it&apos;s own API</li>
      </ul>
    </div>
  </div>

  <div class="row my-3">
    <div class="col-lg-6 order-lg-2">
      <img class="img-fluid rounded" src="{{ url_for('static', filename='github-screenshot.png') }}">
    </div>
    <div class="col-lg-6 order-lg-1 my-3">
      <h2>Completely open source</h2>
      <ul>
        <li>Full source code on <a href="https://github.com/calpaterson/csvbase">github</a></li>
        <li>Fully possible to host it yourself (some assembly required)</li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}
