{# -*- mode: jinja2 -*- #}
{% extends "app_base.html" %}

{% block explainer %}{% endblock %}

{% block main %}
<div class="container about-page">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <div class="px-4 my-2 text-center">
        <img alt="logo" src="{{ url_for('static', filename='logo/192x192.png') }}" width="192" height="192">
        <h1 class="display-5 fw-bold">About csvbase</h1>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 text-center">
      <div class="my-3">
        csvbase is a <mark>simple website for sharing table data</mark> &mdash; with a REST API
      </div>
    </div>
  </div>

  <div class="row my-3">
    <div class="col-lg-6">
      <img class="img-fluid rounded" src="{{ url_for('static', filename='table-screenshot.png') }}">
    </div>
    <div class="col-lg-6 my-3">
      <h2>Full multi-format support</h2>
      <ul>
        <li>All tables are available in <a href="{{ url_for('faq.faq_entry', slug='formats') }}">multiple formats</a> as a simple download, including:
          <ul>
            <li>Apache Parquet</li>
            <li>Microsoft Excel</li>
            <li>JSON (and "JSON lines")</li>
            <li>and of course, CSV</li>
          </ul>
        </li>
        <li>Just add ".parquet", ".xlsx", ".csv" to any table url<ul><li>or use the dropdown on the table page</li></ul></li>
        <li>csvbase can act as a <a href="{{ url_for('faq.faq_entry', slug='excel') }}">data source for Microsoft Excel</a><ul><li>and many other tools</li></ul></li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6 order-lg-2">
      <img class="img-fluid rounded" src="{{ url_for('static', filename='duckdb-screenshot.png') }}">
    </div>
    <div class="col-lg-6 order-lg-1 my-3">
      <h2>Easy API</h2>
      <ul>
        <li>csvbase&apos;s REST API follows the design of the website<ul><li>each table url is also an API url</li></ul></li>
        <li>HTTP verbs are used
          <ul>
            <li><code>GET</code> to get the data</li>
            <li><code>PUT</code> to create/overwrite a table</li>
            <li><code>DELETE</code> to delete</li>
            <li><code>POST</code> to bulk add rows</li>
        </ul></li>
        <li>Authenticate via HTTP Basic Auth<ul><li>not required for reading public tables</li></ul></li>
      </ul>
    </div>
  </div>

  <div class="row my-3">
    <div class="col-lg-6 order-lg-1">
      <img class="img-fluid rounded" src="{{ url_for('static', filename='github-screenshot.png') }}">
    </div>
    <div class="col-lg-6 order-lg-2 my-3">
      <h2>Open source, free to use</h2>
      <ul>
        <li>No registration required</li>
        <li>csvbase is open source (on <a href="https://github.com/calpaterson/csvbase">github</a>) under the AGPLv3 or later</li>
        <li>Supporters <a href="{{ url_for('billing.pricing') }}">(€3/month)</a> can also create private tables</li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}
