{# -*- mode: jinja2 -*- #}
{% extends "app_base.html" %}

{% block explainer %}{% endblock %}

{% block main %}
<div class="container">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <div class="px-4 py-2 text-center">
        <img alt="logo" src="{{ url_for('static', filename='logo/192x192.png') }}" width="192" height="192">
        <h1 class="display-5 fw-bold">About csvbase</h1>
      </div>
      <p>
        <mark>csvbase is a website for sharing data tables.</mark>
      </p>
      <p>
        Whether you&#39;re working with open data or private data, csvbase makes it
        easy to upload, manage, edit and share your data with other people.
      </p>
      <p>
        Get started by <a href="{{ url_for('csvbase.upload_file') }}">uploading</a> your CSV
        file (or just <a href="{{ url_for('csvbase.paste') }}">copy and paste</a> straight
        from MS Excel).  Then you can share the link with other people and they
        can <a href="">download</a> in their preferred formats (Parquet, MS Excel) or access the
        data as via a <a href="">simple REST API</a>.
      </p>
      <p>
        Some sample usecases are:
        <ul>
          <li>Hosting open data, such as a list of the world&#39s stock exchanges.</li>
          <li>Provide a simple mini-database for basic apps.</li>
          <li>Sharing data between developers (who like APIs!) and data analysts (who like data feeds).</li>
        </ul>
      </p>
      <p>
        csvbase is free for open data and <a href="{{ url_for('billing.pricing') }}">£2/month for unlimited private tables</a> and completely <a href="https://github.com/calpaterson/csvbase">open source<a/>.
      </p>
    </div>
  </div>
</div>
{% endblock %}
