{# -*- mode: jinja2 -*- #}
{% extends "base.html" %}

{% block navbar_elements %}
  {{ super() }}
  <ul class="navbar-nav ms-auto">
    {% if g.current_user %}
      <li class="nav-item">
        <a
          class="nav-link {% if request.path == url_for('csvbase.user', username=g.current_username) %}active{% endif %}"
          href="{{ url_for('csvbase.user', username=g.current_username) }}">{{g.current_username}}
        </a>
      </li>
      {% else %}
        <li class="nav-item">
          <a class="nav-link"
             href="{{ url_for('csvbase.sign_in') }}"
             >Sign in</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
             href="{{ url_for('csvbase.register') }}"
             >Register</a>
        </li>
      {% endif %}
  </ul>
{% endblock %}
