{# -*- mode: jinja2 -*- #}
{% extends "blog_base.html" %}

{% block main %}
  <div class="container">
    <div class="row">
      <div class="col-lg-6 offset-lg-3">
        <h1 class="py-2">Blog</h1>
        <p class="blog-rss">Stay up to date via <a href="{{ url_for('blog.rss') }}">RSS</a></p>

        {% for post in posts %}
          <p><a href="{{ url_for('blog.post', post_id=post.id) }}">{{ post.title }}</a>
            <span style="float: right">{{ post.render_posted() }}</span>
          </p>
        {% endfor %}
        {% if not posts %}
          <p>No posts yet!</p>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
