{# -*- mode: jinja2 -*- #}
{% extends "blog_base.html" %}

{% block main %}
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <h1 class="py-2">The csvbase blog</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-8 offset-lg-2 mt-3">
        <h2>Register an account and stay up to date</h2>
        <p class="blog-rss">Get alerted about new posts via <a href="{{ url_for('blog.rss') }}">RSS</a>, or register an account and leave the checkbox ticked:</p>
      </div>
    </div>

    <form  method="POST" action="{{ url_for('csvbase.register') }}">
      <div class="row mb-5">
        <div class="col-lg-4 offset-lg-2">
          {{ other_macros.username_form_field() }}
        </div>
        <div class="col-lg-4">
          {{ other_macros.email_form_field() }}
        </div>
        <div class="col-lg-8 offset-lg-2">
          {{ other_macros.password_form_field() }}
          {{ other_macros.mailing_list_form_field(checked=True) }}
          <input class="btn btn-success" type="submit" value="Register">
        </div>
      </div>
    </form>

    {% if posts|length > 0 %}
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <h2 class="py-2">Latest post</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          {{ render_post(posts[0]) }}
        </div>
      </div>
    {% endif %}

    {% if posts|length > 1 %}
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <h2>Previously</h2>
          {% for post in posts[1:] %}
            {{ render_post(post) }}
          {% endfor %}
          {% if not posts %}
            <p>No posts yet!</p>
          {% endif %}
        </div>
      </div>
    {% endif %}
  </div>
{% endblock %}

{% macro render_post(post) %}
  <p><a href="{{ url_for('blog.post', post_id=post.id) }}">{{ post.title }}</a>
    <span style="float: right">{{ post.render_posted() }}</span>
  </p>
{% endmacro %}
