{# -*- mode: jinja2 -*- #}
{% extends "app_base.html" %}

{% import 'other_macros.html' as other_macros %}

{% block main %}
  <div class="container">
    <h1 class="py-2">Change password</h1>

    <form method="POST">
      <div class="mb-3 row g-3">
        <div class="col-2">
          <label for="password" class="form-label">Existing password</label>
        </div>
        <div class="col-auto">
          <input class="form-control" required id="existing-password" type="existing-password" name="existing-password">
        </div>
      </div>

      <div class="mb-3 row g-3">
        <div class="col-2">
          <label for="new-password" class="form-label">New password</label>
        </div>
        <div class="col-auto">
          <input class="form-control" required id="new-password" type="password" name="new-password">
        </div>
      </div>

      <div class="mb-3 row g-3">
        <div class="col-2">
          <label for="new-password-again" class="form-label">New password (again)</label>
        </div>
        <div class="col-auto">
          <input class="form-control" required id="new-password-again" type="password" name="new-password-again">
        </div>
      </div>

      <button type="submit" class="btn btn-primary">Change password</button>
    </form>

  </div>
{% endblock %}
