{# -*- mode: jinja2 -*- #}

{% import 'value_macros.html' as value_macros %}
{% import 'captcha_macros.html' as captcha_macros %}

{%- macro render_pagination(thread_slug, current_page, max_page) %}
  <ul class="pagination justify-content-center">
    {% for page_number in range(1, max_page+1) %}
      <li class="page-item {% if page_number == current_page %}active{% endif %}"
          ><a
          class="page-link"
          {% if page_number == 1 %}
            href="{{ url_for('csvbase.thread_view', thread_slug=thread_slug) }}"
          {% else %}
            href="{{ url_for('csvbase.thread_view', thread_slug=thread_slug, page=page_number) }}"
          {% endif %}
          >{% if page_number == current_page %}Page {% endif %}{{ page_number }}</a></li>
    {% endfor %}
  </ul>
{% endmacro %}


{%- macro render_comment_page(comment_page, current_user) %}
  {% for comment in comment_page.comments %}
    {% set for_owner = current_user == comment.user %}
    {{ render_comment(comment, for_owner=for_owner) }}
  {% endfor %}
{% endmacro %}

{%- macro render_comment(comment, for_owner=False) %}
  <div id="comment-{{comment.comment_id}}" class="comment my-2">
    <div class="card">
      <div class="card-header d-flex">
        <span>
          <a href="{{url_for('csvbase.thread_view', thread_slug=comment.thread.slug, page=comment.page_number(), _anchor='comment-' ~ comment.comment_id)}}">#{{comment.comment_id}}</a>
          <img src="{{ url_for('avatars.image', username=comment.user.username) }}" class="comment-avatar">
          <a href="{{ url_for('csvbase.user', username=comment.user.username) }}">{{comment.user.username}}</a>
          <span class="text-body-secondary">{{ value_macros.render_human_datetime(comment.created) }} ago</span>
        </span>
        <span class="ms-auto">
          <span class="px-1">{% for ref in comment.referenced_by %}{{ render_comment_ref(ref) }}{% endfor %}</span>
          <div class="btn-group" role="group">
            {% if for_owner %}
              <a class="btn btn-warning btn-sm" href="{{ url_for('csvbase.comment_edit_form', thread_slug=comment.thread.slug, comment_id=comment.comment_id) }}">edit</a>
            {% endif %}
            <a class="btn btn-secondary btn-sm" href="{{ url_for('csvbase.thread_view', thread_slug=comment.thread.slug, page=comment.page_number(), replyto=comment.comment_id) }}">reply</a>
          </div>
      </div>
      <div class="card-body">
        {{comment.markdown|render_markdown|safe}}
      </div>
    </div>
  </div>
{% endmacro %}


{%- macro render_comment_ref(comment_ref) %}
  <a href="{{ url_for('csvbase.thread_view', thread_slug=comment_ref.thread_slug, page=comment_ref.page_number, _anchor="comment-" ~ comment_ref.comment_id ) }}">#{{comment_ref.comment_id}}</a>
{% endmacro %}


{%- macro render_submit_comment_form(thread_slug, current_user, comment_markdown) %}
  <form
    method="POST"
    action="{{ url_for('csvbase.thread_view', thread_slug=thread_slug)}}"
    >
    {% if not current_user %}
      <div class="alert alert-warning" role="alert">
        Please <a href="{{ url_for('csvbase.register') }}">register</a> (or <a href="{{ url_for('csvbase.sign_in') }}">sign in</a>) to leave a comment.
      </div>
    {% endif %}
    <div class="py-1">
      <textarea
        id="comment-textarea"
        name="comment-markdown"
        class="form-control"
        rows="5"
        {% if comment_markdown %}autofocus{% endif %}
        >{{comment_markdown}}</textarea>
        <div class="form-text text-end"><a href="{{ url_for('faq.faq_entry', slug="markdown") }}">Markdown</a> is supported</div>
    </div>
    {% if current_user %}
      {{ captcha_macros.turnstile_magic_div() }}
    {% endif %}

    <div class="py-1">
      <button {% if not current_user %}disabled{% endif %} type="submit" class="btn btn-primary">Add comment</button>
    </div>
  </form>
{% endmacro %}

{% macro render_no_comments_yet() %}
  <div class="my-3 text-center">No comments yet - add the first one</div>
{% endmacro %}
