{# -*- mode: jinja2 -*- #}

{% macro show_firefox_mobile_warning(user_agent) %}
  {% if user_agent.browser.family == "Firefox Mobile" %}
    <div class="alert alert-warning" role="alert">
      You are using Firefox Mobile.  Beware - Firefox Mobile currently does not
      show form validation errors due
      to <a href="https://bugzilla.mozilla.org/show_bug.cgi?id=1510450">bug
      1510450</a>.
    </div>
  {% endif %}
{% endmacro %}


{% macro render_licence_combobox(ordered_licences, current_licence=None) %}
  <div class="col-auto">
    <label for="licence-select" class="col-form-label">Licence</label>
  </div>
  <div class="col-auto">
    <select class="form-select" name="licence">
      <option value="csvbase-unspecified">Unspecified</option>
      {% for licence in ordered_licences %}
        <option value="{{ licence.spdx_id }}" {% if current_licence.spdx_id == licence.spdx_id %}selected{% endif %}>{{ licence.name }} {% if licence.recommended %}(Recommended){% endif %}</option>
      {% endfor %}
    </select>
  </div>
  <div class="form-text">(Optionally) Specify which licence this data is released under.</div>
{% endmacro %}
