{# -*- mode: jinja2 -*- #}
{% extends "app_base.html" %}

{% import 'table_macros.html' as table_macros %}

{% block main %}
  <div class="container">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a
          class="nav-link {% if request.endpoint == 'csvbase.index' %}active{% endif %}"
          href="{{ url_for('csvbase.index')}}"
          >Most praised</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if request.endpoint == 'csvbase.newest' %}active{% endif %}"
           href="{{ url_for('csvbase.newest')}}"
           >Newest</a>
      </li>
    </ul>

    <div class="row my-2">
      <div class="col-auto">
        {% for table in tables %}
          {{ table_macros.table_card(table) }}
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
