{# -*- mode: jinja2 -*- #}
{% extends "app_base.html" %}

{% from 'value_macros.html' import id_input_validation_attrs %}

{% import 'other_macros.html' as other_macros %}

{% block main %}
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <h1>Create a new table</h1>

        <div class="mb-3">
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link {% if method == 'paste' %}active{%endif%}"
                 href="{{ url_for('csvbase.paste') }}">Paste</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if method == 'upload-file' %}active{%endif%}"
                 href="{{ url_for('csvbase.upload_file') }}">Upload file</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if request.endpoint == 'csvbase.blank_table' %}active{%endif%}"
                 href="{{ url_for('csvbase.blank_table') }}">Blank table</a>
            </li>
          </ul>
        </div>

        <div class="container">
          <form action="{{ action_url }}" method="POST" enctype="multipart/form-data">
            <div class="form-floating mb-3">
              <input type="text"
                     id="table-name"
                     class="form-control"
                     name="table-name"
                     placeholder="my-table"
                     required
                     {% if table_name %}
                       value="{{ table_name }}"
                     {% endif %}
                     {{id_input_validation_attrs()}}>
                     <label for="table-name">Table name</label>
                     <div class="form-text">Start with a letter, and then letters, numbers and dashes (-).</div>
            </div>

            {% block form_section %}
              {% if method == 'paste' %}
                <div class="mb-3">
                  <textarea name="csv-textarea" class="form-control csv-paste-textarea" rows="10" cols="50" autofocus></textarea>
                  <div class="form-text"><strong>A maximum of 50 megabytes.</strong> Either CSV or TSV works but be sure to include the header row.</div>
                </div>
              {% endif %}

              {% if method == 'upload-file' %}
                <div class="mb-3">
                  <input type="file" class="form-control" name="csv-file"
                         accept=".tsv, .csv, text/csv, text/tab-separated-values">
                         <div class="form-text"><strong>A maximum of 50 megabytes.</strong> Either CSV or TSV works but be sure to include the header row.</div>
                </div>
                <div class="mb-3 row g-3">
                  <div class="col-auto">
                    <label for="encoding-select" class="col-form-label">File encoding</label>
                  </div>
                  <div class="col-auto">
                    <select class="form-select" name="encoding" id="encoding-select">
                      <option {% if not encoding %}selected{% endif %} value="">Auto-detect</option>
                      {% for encoding in Encoding %}
                        <option value="{{ encoding.value }}">{{encoding.value }}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
              {% endif %}
            {% endblock %}

            <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input" name="private" id="is-private">
              <label class="form-check-label" for="is-private">Private</label>
            </div>

            <div class="mb-3 row g-3">
              <div class="col-auto">
                <label for="licence-select" class="col-form-label">Data licence</label>
              </div>
              <div class="col-auto">
                <select class="form-select" name="data-licence">
                  {% for data_licence in DataLicence %}
                    <option {% if data_licence == DataLicence.ALL_RIGHTS_RESERVED %}selected{% endif %}
                            value="{{ data_licence.value }}">{{ data_licence.render() }}</option>
                          {% endfor %}
                </select>
              </div>
            </div>

            {% if not g.current_user %}
              <div class="row">
                <div class="mx-auto">
                  <div class="alert alert-info">
                    <span>Register at the same time:</span>
                    <span class="float-end">(If you already have an account, <a href="{{ url_for('csvbase.sign_in') }}">sign in</a>.)</span>
                  </div>
                </div>
              </div>

              {{ other_macros.username_form_field() }}

              {{ other_macros.email_form_field() }}

              {{ other_macros.password_form_field() }}

              <div class="row">
                <div class="mb-3">
                  <input type="submit" class="btn btn-success" value="Register & create table">
                </div>
              </div>
            {% else %}
              <div class="row">
                <div class="mb-3">
                  <input type="submit" class="btn btn-success" value="Create table">
                </div>
              </div>
            {% endif %}
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
