{# -*- mode: jinja2 -*- #}

{% from 'value_macros.html' import id_input_validation_attrs %}

{% macro table_name_field(label="Table name", value=None) %}
  <div class="form-floating">
    <input type="text"
           id="table-name"
           class="form-control"
           name="table-name"
           placeholder="my-table"
           required
           {% if value %}
             value="{{ value }}"
           {% endif %}
           {{id_input_validation_attrs()}}>
           <label for="table-name">{{ label }}</label>
           <div class="form-text">Start with a letter, and then letters, numbers and dashes (-).</div>
  </div>
{% endmacro %}


{% macro username_form_field(autofocus=False) %}
  <div class="form-floating my-1">
    <input id="username-input"
           class="form-control"
           type="text"
           name="username"
           required {{id_input_validation_attrs()}}
           placeholder="..."
           {%- if autofocus -%}
             autofocus
           {%- endif -%}
           >
           <label for="username-input">Username</label>
           <div class="form-text">Usernames should start with a letter, and
             then have only letters, numbers and dashes (-).</div>
  </div>
{% endmacro %}

{% macro password_form_field() %}
  <div class="form-floating my-1">
    <input class="form-control"
           type="password"
           required
           name="password"
           placeholder="...">
           <label>Password</label>
  </div>
{% endmacro %}

{% macro email_form_field() %}
  <div class="form-floating my-1">
    <input class="form-control"
           type="text"
           name="email"
           pattern=".*@.*"
           title="Must contain an @-sign"
           placeholder="">
           <label>Email</label>
           <div class="form-text">Optional - <a href="/faq/email-addresses">see what it&apos;s used for</a></div>
  </div>
{% endmacro %}

{% macro mailing_list_form_field(checked=False) %}
  <div class="form-check my-2">
    <input class="form-check-input" type="checkbox" name="mailing-list" id="mailing-list-checkbox" {% if checked %}checked{% endif %}>
    <label class="form-check-label" for="mailing-list-checkbox">
      Email me about blog posts
    </label>
    <div class="form-text">An alternative to RSS.  Don't leave your email blank.</div>
  </div>
{% endmacro %}
