{# -*- mode: jinja2 -*- #}
{% extends "app_base.html" %}

{% block explainer %}{% endblock %}

{% block main %}
  <div class="container">
    <div>
      <h1>Pricing</h1>
    </div>

  <div class="col-auto">
    <p>csvbase is <mark>free for open data</mark> - public tables.</p>
    <p>The first private table <u>is free</u> but after that you must make a
    contribution of <mark>£1 per month</mark>.</p>

      {% if has_subscription %}
        <a
          {# FIXME: include whence #}
            href="{{ url_for('billing.manage') }}"
            class="btn btn-primary btn-lg active"
            role="button">Manage your subscription</a>
        {% else %}
          <a
            href="{{ url_for('billing.subscribe') }}"
            class="btn btn-success btn-lg active"
            role="button">Subscribe for £1/month</a>
        {% endif %}
  </div>

  </div>
{% endblock %}
