{# -*- mode: jinja2 -*- #}
{% extends "base.html" %}

{% from 'value_macros.html' import id_input_validation_attrs %}
{% import 'other_macros.html' as other_macros %}
{% import 'captcha_macros.html' as captcha_macros %}
{% import 'form_macros.html' as form_macros %}

{% block head %}
  {{ super() }}
  {{ captcha_macros.turnstile_script_tag() }}
{% endblock %}

{% block main %}
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <h1>Register a new account</h1>
        <form method="POST" class="mb-3">
          {{ form_macros.show_firefox_mobile_warning(user_agent) }}
          {% if whence %}
            <input type="hidden" name="whence" value="{{ whence }}">
          {% endif %}

          {{ other_macros.username_form_field() }}

          {{ other_macros.email_form_field() }}

          {{ other_macros.password_form_field() }}

          {{ other_macros.mailing_list_form_field() }}

          {{ captcha_macros.turnstile_magic_div() }}

          <input class="btn btn-success" type="submit" value="Register">
        </form>

        <p>If you already have an
          account, <a href="{{url_for('csvbase.sign_in')}}">sign in
          instead</a</p>
      </div>
    </div>
  </div>
{% endblock %}
