{# -*- mode: jinja2 -*- #}

{% macro render_cell(type, value, truncate=true) %}
  {% if value == None %}
    <span class="text-muted"><abbr title="No data/blank" class="initialism">&lt;NA&gt;</abbr></span>
  {% elif type.name == "BOOLEAN" %}
    {% if value == True %}
      Yes
    {% elif value == False %}
      No
    {% endif %}
  {% elif type.name == "TEXT" %}
    {% if value|length > 200 and truncate %}
      {{ value[:200] }}<span data-bs-toggle="tooltip" data-bs-placement="top" title="truncated">[...]</span>
    {% elif is_url(value) %}
      {{ value|urlize(nofollow=True) }}
    {% else %}
      {{ value }}
    {% endif %}
  {% else %}
    {{ value }}
  {% endif %}
{% endmacro %}


{% macro row_table(row) %}
      <table class="table table-responsive">
        <thead>
          <tr>
            <th>Column name</th>
            <th>Column type</th>
            <th>Column value</th>
          </tr>
        </thead>
        <tbody>
          {% for col, v in row.items() %}
            <tr>
              {% if col.name == "csvbase_row_id" %}
                <td>Row ID</td>
              {% else %}
                <td>{{ col.name }}</td>
              {% endif %}
              <td>{{ col.type_.pretty_type() }}</td>
              <td>{{ render_cell(col.type_, v, truncate=false) }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
{% endmacro %}

{%- macro form_type(col) -%}
  {%- if col.type_.name == "BOOLEAN" -%}
    checkbox
  {%- elif col.type_.name == "DATE" -%}
    date
  {%- else -%}
    {# the number form type is specifically not used:
    https://technology.blog.gov.uk/2020/02/24/why-the-gov-uk-design-system-team-changed-the-input-type-for-numbers/
    #}
    text
  {%- endif -%}
{%- endmacro -%}

{% macro form_text(val) %}
  {%- if val != None -%}
    {{ val }}
  {%- endif -%}
{% endmacro %}


{%- macro form_inputmode(col) -%}
  {%- if col.type_.name == "INTEGER" -%}
    numeric
  {%- elif col.type_.name == "FLOAT" -%}
    decimal
  {%- else -%}
    text
  {%- endif -%}
{%- endmacro -%}


{% macro column_value_input(col, val) %}
  {% if col.type_.name == "TEXT" and val != None and "\n" in val %}
    <textarea
      class="form-control"
      id="{{col.name}}-textarea"
      name="{{ col.name }}"
      style="resize: both"
      >{{ form_text(val) }}</textarea>
  {% elif col.type_.name == "BOOLEAN" %}
    <select class="form-select" name="{{ col.name }}">
      <option value="na" {% if val == None %}selected{% endif %}>{{ render_cell(col.type_, None) }}</option>
      <option value="true" {% if val == True %}selected{% endif %}>{{ render_cell(col.type_, True) }}</option>
      <option value="false" {% if val == False %}selected{% endif %}>{{ render_cell(col.type_, False) }}</option>
    </select>
  {% else %}
    <input
        class="form-control"
      {% if col.name == "csvbase_row_id" %}readonly{% endif %}
      id="{{col.name}}-input"
      type="{{ form_type(col) }}"
      inputmode="{{ form_inputmode(col) }}"
      name="{{ col.name }}"
      value="{{ form_text(val) }}"
      >
    {% endif %}
{% endmacro %}
