{# -*- mode: jinja2 -*- #}
{% extends "base.html" %}

{% from 'value_macros.html' import id_input_validation_attrs %}
{% import 'other_macros.html' as other_macros %}
{% import 'form_macros.html' as form_macros %}

{% block main %}
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <h1>Sign in to your account</h1>
        <form method="POST" class="mb-3">
          {{ form_macros.show_firefox_mobile_warning(user_agent) }}
          {% if whence %}
            <input type="hidden" name="whence" value="{{ whence }}">
          {% endif %}

          {{ other_macros.username_form_field() }}
          {{ other_macros.password_form_field() }}

          <input class="btn btn-success" type="submit" value="Sign in">
        </form>

        <p>If you don&apos;t already have an account, why not <a href="{{url_for('csvbase.register')}}">register</a>?</p>
      </div>
    </div>
  </div>
{% endblock %}
