{# -*- mode: jinja2 -*- #}
{% extends "table.html" %}

{% block tab_contents %}
  <div class="container">

    <h2>Table of contents</h2>
    <ol>
      <li>
        <a href="#the-basics">The basics: auth and content negotations</a>
        <ol>
          <li><a href="#authentication">Authentication</a></li>
          <li><a href="#content-negotiation">Content negotiation</a></li>
        </ol>
      </li>
      <li>
        <a href="#the-api">The API: endpoint-by-endpoint</a>
        <ol>
          <li>
            <a href="#tables">Tables</a>
            <ol>
              <li><a href="#table-reading">Reading a table</a></li>
            </ol>
          </li>
          <li>
            <a href="#rows">Rows</a>
            <ol>
              <li><a href="#rows-creating">Creating a new row</a></li>
              <li><a href="#rows-reading">Reading a row</a></li>
              <li><a href="#rows-updating">Updating an existing row</a></li>
              <li><a href="#rows-deleting">Deleting a row</a></li>
            </ol>
          </li>
        </ol>
      </li>
    </ol>

    <h2 id="the-basics">The basics: auth and content negotiation</h2>
    <h3 id="authentication">Authentication</h3>
    <p>
      With CSVBase, you authenticate using by <mark>putting your username and API key
      straight in the url</mark> (known
      as <a href="https://en.wikipedia.org/wiki/Basic_access_authentication">&quot;HTTP
      "basic" auth&quot;</a>).
    </p>

    <p>
      Here&apos;s an example{% if g.current_user %}, using your API
      credentials, which will be used throughout this page{% endif %}:
    </p>

    <p>
      <code>{{ url_for_with_auth('csvbase.table_view', username=table.username, table_name=table.table_name, _external=True) }}</code>
    </p>

    <p>
      Basic auth is widely supported and is usually accepted anywhere that accepts urls.
    </p>

    <p>
      {% if table.is_public %}
        However, {{table.username}}/{{table.table_name}} is public so <mark>auth is needed only
        for <em>writes</em></mark>.
      {% else %}
        {{table.username}}/{{table.table_name}} is private, so you&apos;ll need to provide
        auth for all API requests.
      {% endif %}
    </p>

    <p>
      {% if owner == g.current_username %}
        Your API key is <code>{{ user.hex_api_key() }}</code> and this has been
        inserted where required in all the below examples.
      {% endif %}
    </p>

    <h3 id="content-negotiation">Content negotiation</h3>
    <p>
      CSVBase APIs use <em>content negotiation</em> to decide what formats are
      in use.  This means it consults HTTP headers to decide what format to
      send back in response to a request.
    </p>

    <p>
      It important that you <mark>set the <code>Content-Type</code>
      and <code>Accept</code> headers</mark> to be the mimetype you want:
      typically that is <code>application/json</code> for both.  If you fail to
      include these headers in your requests, the API will still work but
      CSVBase will pick a sensible default: CSV for tables, JSON for rows.
    </p>

    <p>
      You can bypass content negotiation for read-only requests by appending a
      file extension to the url, eg <code>.json</code>.  Here&apos;s an example
      of that (same resource as above):
    </p>

    <p>
      <code>{{ url_for_with_auth('csvbase.table_view_with_extension', username=table.username, table_name=table.table_name, extension="json", _external=True) }}</code>
    </p>

    <p>
      This is useful when dealing with software where you aren&apos;t able to
      set headers.
    </p>

    <h2 id="the-api">The API: endpoint-by-endpoint</h2>
    <p>There are three kinds of thing in csvbase:</p>

    <ol>
      <li>users</li>
      <li>tables</li>
      <li>rows</li>
    </ol>

    <p>While there&apos;s no API for users so far, there is for tables and rows.</p>

    <h3 id="tables">Tables</h3>
    <p>
      This table looks like this in JSON:
    </p>

    <pre>{{ table_to_json_dict(table, sample_page)|ppjson }}</pre>

    <p>
      Note that there is the top-level metadata, plus a "page" of rows.  Tables
      are often (usually) too big to be put into a single JSON object so they
      are "paginated".  To follow the table, page by page, you can use
      the <code>next_page_url</code> and <code>previous_page_url</code>
      dictionary keys.  They will be <code>null</code> if you&apos;ve reached
      the end or are at the beginning, respectively.
    </p>

    <h4 id="table-reading">Reading a table</h4>
    <p>
      {% if table.is_public %}
        <code>GET</code> from <code>{{ url_for('csvbase.table_view', username=table.username, table_name=table.table_name, _external=True) }}</code>
      {% else %}
        <code>GET</code> from <code>{{ url_for_with_auth('csvbase.table_view', username=table.username, table_name=table.table_name, _external=True) }}</code>
      {% endif %}
    </p>

    <p>
      You&apos;ll need to follow the <code>next_page_url</code> urls (described
      above) to get to the end of the table.
    </p>

    <h3 id="rows">Rows</h3>
    <p>
      Rows from {{table.username}}/{{table.table_name}} look like this in JSON:
    </p>

    <pre>{{ row_to_json_dict(table, sample_row)|ppjson }}</pre>

    <h4 id="rows-creating">Creating a new row</h4>
    <p>
      <code>POST</code> to <code>{{ url_for_with_auth('csvbase.create_row', username=table.username, table_name=table.table_name, _external=True) }}</code>
    </p>

    <h5>Example body</h5>
    <pre>{{ row_to_json_dict(table, sample_row, omit_row_id=True)|ppjson }}</pre>

    <h5>Example response</h5>
    <pre>{{ row_to_json_dict(table, sample_row, omit_row_id=False)|ppjson }}</pre>

    <p>
      Status code 201 upon success.
    </p>

    <h4 id="rows-reading">Reading a row</h4>
    <p>
      {% if table.is_public %}
        <code>GET</code> from <code>{{ url_for('csvbase.get_row', username=table.username, table_name=table.table_name, _external=True, row_id=sample_row_id) }}</code>
      {% else %}
        <code>GET</code> from <code>{{ url_for_with_auth('csvbase.get_row', username=table.username, table_name=table.table_name, _external=True, row_id=sample_row_id) }}</code>
      {% endif %}
    </p>

    <p>No body is provided with this request.  Status code 200 upon success.</p>

    <h5>Example response</h5>
    <pre>{{ row_to_json_dict(table, sample_row, omit_row_id=False)|ppjson }}</pre>

    <h4 id="rows-updating">Updating an existing row</h4>
    <p>
      <code>PUT</code> to <code>{{ url_for_with_auth('csvbase.update_row', username=table.username, table_name=table.table_name, _external=True, row_id=sample_row_id) }}</code>
    </p>

    <h5>Example body</h5>
    <pre>{{ row_to_json_dict(table, sample_row)|ppjson }}</pre>

    <h5>Response</h5>
    <p>
      Upon success the body you sent will be echoed back, with status code 200.
    </p>

    <h4 id="rows-deleting">Deleting a row</h4>
    <p>
      <code>DELETE</code> from <code>{{ url_for_with_auth('csvbase.delete_row', username=table.username, table_name=table.table_name, _external=True, row_id=sample_row_id) }}</code>
    </p>

    <p>No body is required.  Status code 204 upon success.</p>
  </div>
{% endblock %}

