{# -*- mode: jinja2 -*- #}
{% extends "app_base.html" %}

{% import 'table_macros.html' as table_macros %}

{% import 'value_macros.html' as value_macros %}

{% block head %}
  {{ super() }}
  {% if table.has_caption() %}
    <meta name="description" content="{{ table.caption|e }}">
  {% endif %}

  <script type="application/ld+json">
 {{ schemaorg.to_dataset(table, table_readme_md, reps)|ppjson|safe }}
  </script>
{% endblock %}

{% macro data_licence_badge(data_licence) %}
  <span
    style="font-size: 0.75rem"
    class="badge {% if data_licence.is_free() %}bg-success{% else %}bg-danger{% endif %} rounded-pill"
    >{{ data_licence.short_render() }}</span>
{% endmacro %}

{% macro privacy_badge(table) %}
  {% if not table.is_public %}
    <span
      style="font-size: 0.75rem"
      class="badge bg-secondary rounded-pill"
      >Private</span>
  {% endif %}
{% endmacro %}

{% block main %}
  {{ table_macros.praise_button_form(table, praise_id) }}
  <div class="container">
    <div class="row">
      <div class="col-auto">
        <h1><img id="table-icon"
                 class="icon"
                 data-bs-toggle="tooltip"
                 {% if table.is_public %}
                   src="{{ url_for('static', filename='icons/public-table.svg') }}"
                   title="This is a public table"
                 {% else %}
                   src="{{ url_for('static', filename='icons/private-table.svg') }}"
                   title="This is a private table"
                 {% endif %}
                   > <a
          href="{{ url_for('csvbase.user', username=table.username) }}">{{ table.username }}</a> / <a
          href="{{ url_for('csvbase.table_view', username=table.username, table_name=table.table_name) }}"
          >{{ table.table_name }}</a> {# {{ data_licence_badge(table.data_licence) }} {{ privacy_badge(table) }} #}</h1>
      </div>
    </div>

    <div class="row mb-2">
      <div class="col-8">
        <span class="table-topline">
          {%- if table.has_caption() -%}
            <span class="table-caption">{{table.caption}}</span> &mdash; {{ table_macros.render_row_count(table) }} rows
          {%- else -%}
            {{ table_macros.render_row_count(table) }} rows
          {%- endif -%}
          , last changed {{ value_macros.render_human_datetime(table.last_changed) }} ago
        </span>
      </div>
      <div class="col-4 text-end d-md-none">
        <div class="btn-group-vertical">
        {{ table_macros.download_button(table, reps) }}
        {{ table_macros.praise_button(table, praise_id) }}
        </div>
      </div>
      <div class="col-4 text-end d-none d-md-block">
        {{ table_macros.download_button(table, reps, multiformat_dropdown=True) }}
        {{ table_macros.copy_button(table) }}
        {{ table_macros.praise_button(table, praise_id) }}
      </div>
    </div>

    <div class="row mb-3 d-none d-lg-block">
      <div class="col-auto">
        <div class="input-group">
          <input class="form-control w-100 table-pastable" type="text" value="import pandas as pd; {{table.table_name|snake_case}} = pd.read_csv('{{url_for('csvbase.table_view', username=table.username, table_name=table.table_name, _external=True)}}', index_col=0)" readonly>
        </div>
      </div>
    </div>

    {% if table.upstream %}
      <div class="row">
        <div class="alert alert-secondary">
          Tracking <a href="{{table.upstream.github_file_link()}}">{{table.upstream.pretty_ref()}}</a>, last changed <a href="{{ table.upstream.github_commit_link() }}">{{ value_macros.render_human_datetime(table.upstream.last_modified) }} ago</a>
        </div>
      </div>
    {% endif %}

    {# The full width version for wider screens #}
    <div class="mb-3 d-none d-md-block">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link {% if request.endpoint == 'csvbase.table_view' %}active{%endif%}"
             href="{{ url_for('csvbase.table_view', username=table.username, table_name=table.table_name) }}">Data</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.endpoint == 'csvbase.table_details' %}active{%endif%}"
             href="{{ url_for('csvbase.table_details', username=table.username, table_name=table.table_name) }}">Definition</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.endpoint == 'csvbase.get_table_apidocs' %}active{%endif%}"
             href="{{ url_for('csvbase.get_table_apidocs', username=table.username, table_name=table.table_name) }}"
             >API</a>
        </li>
        {% if table.username == current_username %}
          <li class="nav-item">
            <a class="nav-link {% if request.endpoint == 'csvbase.table_settings' %}active{%endif%}"
               href="{{url_for('csvbase.table_settings', username=table.username, table_name=table.table_name)}}"
               >Settings</a>
          </li>
        {% endif %}
      </ul>
    </div>

    {# A narrower version for phones  #}
    <div class="mb-3 d-md-none">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link {% if request.endpoint == 'csvbase.table_view' %}active{%endif%}"
             href="{{ url_for('csvbase.table_view', username=table.username, table_name=table.table_name) }}">Data</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.endpoint == 'csvbase.get_table_apidocs' %}active{%endif%}"
             href="{{ url_for('csvbase.get_table_apidocs', username=table.username, table_name=table.table_name) }}"
             >API</a>
        </li>
        {% if table.username == current_username %}
          <li class="nav-item">
            <a class="nav-link {% if request.endpoint == 'csvbase.table_settings' %}active{%endif%}"
               href="{{url_for('csvbase.table_settings', username=table.username, table_name=table.table_name)}}"
               >Settings</a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>

  {% block tab_contents %}
  {% endblock %}

{% endblock %}
