{# -*- mode: jinja2 -*- #}

{% macro praise_button_form(table, praise_id) %}
  {# This form is split apart from the praise button for formatting reasons
  (not able to put a form in a btn-group) #}
  <form
    id="praise-form"
    method="POST"
    action="{{ url_for('csvbase.praise_table', username=table.username, table_name=table.table_name)}}"
    style="display: none"
>
    <input type="hidden" name="whence" value="{{ request.url }}">
    {% if praise_id %}
      <input hidden type="number" name="praise-id" value="{{ praise_id }}">
    {% endif %}
  </form>
{% endmacro %}

{% macro praise_button(praise_id) %}
  {% if praise_id %}
    <button
      form="praise-form"
      type='submit'
      class="btn btn-warning btn-sm"
      ><img class="icon" src="{{ url_for('static', filename='praised.svg') }}"> Praised</button>
    {% else %}
      <button
        form="praise-form"
        id="praise-button"
        type='submit'
        class="btn btn-secondary btn-sm"
        ><img class="icon icon-hidden" src="{{ url_for('static', filename='praised.svg') }}"><img class="icon icon-invert" src="{{ url_for('static', filename='praise.svg') }}"> <span id="praise-span">Praise</span></button>
    {% endif %}
{% endmacro %}

{% macro copy_button(table) %}
  <a href="{{ url_for('csvbase.copy_view', username=table.username, table_name=table.table_name) }}" class="btn btn-primary btn-sm">Make a copy</a>
{% endmacro %}

{% macro table_card(table) %}
  <div class="card table-card">
    <div class="card-body">
      <h5 class="card-title"><a href="{{ url_for('csvbase.table_view', username=table.username, table_name=table.table_name) }}">{{table.username}}/{{table.table_name}}</a></h5>

      {% if table.has_caption() %}<h6 class="card-subtitle mb-2 text-muted">&quot;{{ table.caption }}&quot;</h6>{% endif %}
      <p>Created {{ table.age()|timedeltaformat }} ago</p>

      <p>{{ table.user_columns()|length }} column{% if table.user_columns()|length > 1 %}s{% endif %}:
        <ul>
          {% for column in table.user_columns() %}
            <li>{{ column.name}} ({{column.type_.pretty_name().lower()}})</li>
          {% endfor %}
        </ul>
      </p>
      {# <p>{{ praise_button(table, None) }}</p> #}
      <a class="card-link" href="{{ url_for('csvbase.table_view', username=table.username, table_name=table.table_name) }}">View</a>
      <a class="card-link" href="{{ url_for('csvbase.get_table_apidocs', username=table.username, table_name=table.table_name) }}">API</a>
      <a class="card-link" href="{{ url_for('csvbase.export_table_csv', username=table.username, table_name=table.table_name) }}">Download CSV</a>
    </div>
  </div>
{% endmacro %}

{%- macro render_row_count(table) -%}
  {%- if table.row_count.exact == None -%}
    {{ table.row_count.exact }}
  {%- elif table.row_count.exact == 0 -%}
    0
  {%- else -%}
    about {{ table.row_count.approx }}
  {%- endif -%}
{%- endmacro -%}
