{# -*- mode: jinja2 -*- #}

{% import 'row_macros.html' as row_macros %}

{% macro praise_button_form(table, praise_id) %}
  {# This form is split apart from the praise button for formatting reasons
  (not able to put a form in a btn-group) #}
  <form
    id="praise-form"
    method="POST"
    action="{{ url_for('csvbase.praise_table', username=table.username, table_name=table.table_name)}}"
    style="display: none"
>
    <input type="hidden" name="whence" value="{{ request.url }}">
    {% if praise_id %}
      <input hidden type="number" name="praise-id" value="{{ praise_id }}">
    {% endif %}
  </form>
{% endmacro %}

{% macro download_button(table, reps, multiformat_dropdown=False) %}
  {% if multiformat_dropdown %}
    <button class="btn btn-success btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Download as
    </button>
    <ul class="dropdown-menu">
      {% for rep in reps %}
        <li><a class="dropdown-item {% if not rep.offered %}disabled{% endif %}" href="{{ url_for('csvbase.table_view_with_extension', username=table.username, table_name=table.table_name, extension=rep.content_type.file_extension()) }}" {% if not rep.offered %}aria-disabled="true"{% endif %}>.{{rep.content_type.file_extension()}} {% if not rep.offered %}(table is too big for excel){% endif %} {% if not rep.size_is_estimate %}({{ rep.size|humanize_naturalsize() }}){% endif %}</a></li>
      {% endfor %}
    </ul>
  {% else %}
    <a class="btn btn-success btn-sm" href="{{ url_for('csvbase.table_view_with_extension', username=table.username, table_name=table.table_name, extension='csv') }}">Download as csv</a>
  {% endif %}
{% endmacro %}

{% macro praise_button(praise_id) %}
  {% if praise_id %}
    <button
      form="praise-form"
      type='submit'
      class="btn btn-warning btn-sm"
      ><img class="icon" src="{{ url_for('static', filename='icons/praised.svg') }}"> Praised</button>
    {% else %}
      <button
        form="praise-form"
        id="praise-button"
        type='submit'
        class="btn btn-secondary btn-sm"
        ><img class="icon icon-hidden" src="{{ url_for('static', filename='icons/praised.svg') }}"><img class="icon icon-invert" src="{{ url_for('static', filename='icons/praise.svg') }}"> <span id="praise-span">Praise</span></button>
    {% endif %}
{% endmacro %}

{% macro copy_button(table) %}
  <a href="{{ url_for('csvbase.copy_view', username=table.username, table_name=table.table_name) }}" class="btn btn-primary btn-sm">Make a copy</a>
{% endmacro %}

{% macro table_card(table, page) %}
  <div class="card table-card">
    <div class="card-body">
      <h5 class="card-title"><a href="{{ url_for('csvbase.table_view', username=table.username, table_name=table.table_name) }}">{{table.username}}/{{table.table_name}}</a></h5>

      {% if table.has_caption() %}<h6 class="card-subtitle mb-2 text-muted">&quot;{{ table.caption }}&quot;</h6>{% endif %}
      <p>Created {{ table.age()|timedeltaformat }} ago</p>

      {{ render_table(table, page, is_preview=True) }}
    </div>
  </div>
{% endmacro %}

{%- macro render_row_count(table) -%}

  {%- if table.row_count.exact == None -%}
    <span title="~ {{table.row_count.approx}} rows" data-tooltip="top">approximately {{ table.row_count.approx|humanize_intword("%0.0f") }}</span>
  {%- elif table.row_count.exact == 0 -%}
    0
  {%- else -%}
    <span title="{{table.row_count.exact}} rows" data-tooltip="top">{{ table.row_count.exact|humanize_intword("%0.0f") }}</span>
  {%- endif -%}
{%- endmacro -%}

{% macro render_table(table, page, is_preview=False) %}
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            {% for col in table.columns %}
              {% if col.name == "csvbase_row_id" %}
                <th>Row ID</th>
              {% else %}
                <th>{{ col.name }}</th>
              {% endif %}
            {% endfor %}
          </tr>
        </thead>

        <tbody>
          {% for row in page.rows %}
            <tr {% if row[ROW_ID_COLUMN] == highlight %}class="table-active"{% endif %}>
              {% for col in table.columns %}
                {% if loop.index == 1 %}
                  <td><a
                        href="{{ url_for('csvbase.row_view', username=table.username, table_name=table.table_name, row_id=row[col]) }}"
                        >{{row_macros.render_cell(col.type_, row[col])}}</a></td>
                {% else %}
                  <td>{{row_macros.render_cell(col.type_, row[col])}}</td>
                {% endif %}
              {% endfor %}
            </tr>
          {% endfor %}
          {% if is_preview and page.has_more %}
            <tr>
              {% for col in table.columns %}
                <td><a href="{{ url_for('csvbase.table_view', username=table.username, table_name=table.table_name) }}">[...]</a></td>
              {% endfor %}
            </tr>
          {% endif %}
        </tbody>
      </table>
    </div>
{% endmacro %}
