{# -*- mode: jinja2 -*- #}
{% extends "table.html" %}

{% import 'row_macros.html' as row_macros %}

{% block tab_contents %}
  <div class="container">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            {% for col in table.columns %}
              {% if col.name == "csvbase_row_id" %}
                <th>Row ID</th>
              {% else %}
                <th>{{ col.name }}</th>
              {% endif %}
            {% endfor %}
          </tr>
        </thead>

        <tbody>
        {% for row in page.rows %}
          <tr {% if row[ROW_ID_COLUMN] == highlight %}class="table-info"{% endif %}>
            {% for col in table.columns %}
              {% if loop.index == 1 %}
                <td><a
                      href="{{ url_for('csvbase.row_view', username=table.username, table_name=table.table_name, row_id=row[col]) }}"
                      >{{row_macros.render_cell(col.type_, row[col])}}</a></td>
                    {% else %}
                      <td>{{row_macros.render_cell(col.type_, row[col])}}</td>
                    {% endif %}
                  {% endfor %}
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>

    <nav>
      <div class="row">
        <div class="col-auto">
          {% if table.username == current_username %}
            <a class="btn btn-success" href=" {{ url_for('csvbase.row_add_form', username=table.username, table_name=table.table_name) }}">Add row</a>
          {% endif %}
        </div>
        <div class="col-md-4 {% if table.username == current_username %}offset-md-3{% else %}offset-md-4{% endif %}">
          <ul class="pagination justify-content-center">
            {% if is_first_page %}
              <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">First</a>
              </li>
            {% else %}
              <li class="page-item">
                <a class="page-link"
                   href="{{ url_for('csvbase.table_view', username=table.username, table_name=table.table_name) }}"
                   >First</a>
              </li>
            {% endif %}

            {% if page.has_less %}
              <li class="page-item">
                <a class="page-link"
                   href="{{ url_for('csvbase.table_view', username=table.username, table_name=table.table_name, op='lt', n=page.rows[0][ROW_ID_COLUMN]) }}">Previous</a>
              </li>
            {% else %}
              <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">Previous</a>
              </li>
            {% endif %}

            <li class="page-item active">
              {% if page.rows %}
                <a class="page-link" href="#">Rows {{ page.rows[0][ROW_ID_COLUMN] }}-{{ page.rows[-1][ROW_ID_COLUMN] }}</a>
              {% else %}
                {# FIXME: this is hardcoded to handle the case where keysets only handle csvbase_row_id #}
                <a class="page-link" href="#">Row {{keyset.values[0] + 1}} onwards</a>
              {% endif %}
            </li>

            {% if page.has_more %}
              <li class="page-item">
                <a class="page-link"
                   href="{{ url_for('csvbase.table_view', username=table.username, table_name=table.table_name, op='gt', n=page.rows[-1][ROW_ID_COLUMN]) }}">Next</a>
              </li>
            {% else %}
              <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">Next</a>
              </li>
            {% endif %}
            {% if is_last_page %}
              <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">Last</a>
              </li>
            {% else %}
              <li class="page-item">
                <a class="page-link"
                   href="{{ url_for('csvbase.table_view', username=table.username, table_name=table.table_name, op='lt', n=(max_row_id + 1)) }}"
                   >Last</a>
              </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    {% if readme_html %}
      <div class="container">
        <div class="col-auto">
          <div class="card">
            <div class="card-header">Readme</div>
            <div class="card-body">
              {{ readme_html|safe }}
            </div>
          </div>
        </div>
      </div>
    {% endif %}

{% endblock %}
