{# -*- mode: jinja2 -*- #}
{% extends "app_base.html" %}

{% import 'thread_macros.html' as thread_macros %}

{% block main %}
  <div class="container">
    <div class="row col-md-8 offset-md-2">
      <h1>{{comment_page.thread.title}}</h1>
      <div class="alert alert-warning">
        Threads are an experimental feature!
      </div>
      {{ thread_macros.render_pagination(comment_page.thread.slug, current_page, max_page) }}
      {{ thread_macros.render_comment_page(comment_page, current_user) }}
    </div>

    <div class="row col-md-8 offset-md-2">
      <div class="reply-form my-2">
        <div class="card">
          <div class="card-body">
            <form
              method="POST"
              action="{{ url_for('csvbase.thread_view', thread_slug=comment_page.thread.slug)}}"
              >
              <div class="py-1">
                <textarea
                  name="comment-markdown"
                  class="form-control"
                  rows="{{comment_box_lines}}"
                  {% if comment_markdown %}autofocus{% endif %}
                  >{{comment_markdown}}</textarea>
              </div>
              <div class="py-1">
                <button type="submit" class="btn btn-primary">Add comment</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock main %}
