{# -*- mode: jinja2 -*- #}
{% extends "app_base.html" %}
{% import 'comment_macros.html' as comment_macros %}
{% import 'captcha_macros.html' as captcha_macros %}

{% block head %}
  {{ super() }}
  {# No need to actually load stuff if user not logged in #}
  {% if current_user %}
    <script async src="{{ url_for('static', filename='comments.js') }}"></script>
    {{ captcha_macros.turnstile_script_tag() }}
  {% endif %}
{% endblock %}

{% block main %}
  <div class="container">
    <div class="row col-md-8 offset-md-2">
      <h1>{{comment_page.thread.title}}</h1>

      {{ comment_macros.render_pagination(comment_page.thread.slug, current_page, max_page) }}
      {{ comment_macros.render_comment_page(comment_page, current_user) }}
      {{ comment_macros.render_pagination(comment_page.thread.slug, current_page, max_page) }}
    </div>

    <div class="row col-md-8 offset-md-2">
      <div class="reply-form my-2">
        <div class="card">
          <div class="card-body">
            <form
              method="POST"
              action="{{ url_for('csvbase.thread_view', thread_slug=comment_page.thread.slug)}}"
              >
              {% if not current_user %}
                <div class="alert alert-warning" role="alert">
                  Please <a href="{{ url_for('csvbase.register') }}">register</a> (or <a href="{{ url_for('csvbase.sign_in') }}">sign in</a>) to leave a comment.
                </div>
              {% endif %}
              <div class="py-1">
                <textarea
                  id="comment-textarea"
                  name="comment-markdown"
                  class="form-control"
                  {% if comment_markdown %}autofocus{% endif %}
                  >{{comment_markdown}}</textarea>
              </div>
              {% if current_user %}
                {{ captcha_macros.turnstile_magic_div() }}
              {% endif %}

              <div class="py-1">
                <button {% if not current_user %}disabled{% endif %} type="submit" class="btn btn-primary">Add comment</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

  </div>
{% endblock main %}
