{# -*- mode: jinja2 -*- #}
{% extends "app_base.html" %}

{% import 'table_macros.html' as table_macros %}

{% macro pagination() %}
  <nav>
    <ul class="pagination">
      <li class="page-item {% if not table_page.has_prev%}disabled{% endif %}"><a class="page-link"
                               {% if table_page.has_prev %}href="{{prev_page_url}}"{% else %}href="#"{% endif %}
                               >Previous</a>
      </li>
      <li class="page-item {% if not table_page.has_next%}disabled{% endif %}"><a class="page-link"
                               {% if table_page.has_next %}href="{{next_page_url}}"{% else %}href="#"{% endif %}
                               >Next</a>
      </li>
    </ul>
  </nav>
{% endmacro %}


{% block main %}
  <div class="container">
    <h1><a href="{{ url_for('csvbase.user', username=user.username) }}">{{ user.username }}</a></h1>

    <p>Registered {{ user.registered|dateformat }}</p>

    {% if current_username == user.username %}
      <ul>
        <li><a href="{{ url_for('csvbase.user_settings', username=user.username) }}">Edit your settings</a></li>
        <li><a href="{{ url_for('csvbase.change_password', username=user.username) }}">Change your password</a></li>
        {% if show_manage_subscription %}
          <li><a href="{{ url_for('billing.manage') }}">Manage your subscription</a></li>
        {% endif %}
      </ul>
    {% endif %}

    {# {% if show_manage_subscription %} #}
    {#   <h2>Your subscription</h2> #}
    {#   <p>You are currently subscribed. .</p> #}
    {# {% endif %} #}

    <h2>Tables</h2>

    {{ pagination() }}

    {% for table in table_page.tables %}
      <div class="row">
        <div class="col-md-8">
          {{ table_macros.table_card(table) }}
        </div>
      </div>
    {% endfor %}
    {% if current_username == user.username %}
      <p>Or <a href="{{ url_for('create_table.paste')}}"> paste a new table</a></p>

      <h2>Your API Key</h2>
      <code>{{ current_user.hex_api_key() }}</code>

      <h2>Account controls</h2>
      <a href="{{ url_for('csvbase.sign_out') }}" class="btn btn-danger">Sign out</a>
    {% endif %}
  </div>
{% endblock %}
