graft csvbase/web/templates
graft csvbase/web/billing/templates
graft csvbase/web/static
graft csvbase/web/faq/entries
include requirements.txt
include requirements-test.txt
include csvbase/VERSION
include csvbase/data/prohibited-usernames
global-exclude *.pyc