alembic[tz]==1.13.1
argon2-cffi==23.1.0
bleach==6.2.0
charset-normalizer==3.4.0
celery[redis]==5.4.0
click==8.1.7
ddtrace==2.8.1
giturlparse==0.12.0
importlib_resources==6.4.0
python-dateutil==2.9.0
feedgen==1.0.0
flask-babel==4.0.0
flask-cors==5.0.0
flask-sqlalchemy==3.1.1
flask==3.0.3
gunicorn==23.0.0
humanize==4.10.0
inflect==7.2.0
jinja2-humanize-extension==0.4.0
marko[codehilite]==2.0.3
passlib==1.7.4
pgcopy==1.6.0
platformdirs==4.3.6
psycopg2==2.9.10
pyarrow==17.0.0
pydantic==2.7.0
requests==2.32.3
sentry-sdk[flask]==1.45.0
sqlalchemy==2.0.32
stripe==10.7.0
systemd-python==235; sys_platform == "linux"
toml==0.10.2
typing-extensions==4.10.0
user-agents==2.2.0
werkzeug==3.0.6
xlsxwriter==3.2.0
