{# -*- mode: jinja2 -*- #}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css' ) }}">
    <title>CSVBase</title>
  </head>
  <body>
    {% block body %}
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <div class="container">
            {% for message in messages %}
              <div class="alert alert-primary" role="alert">
                {{ message }}
              </div>
            {% endfor %}
          </div>
        {% endif %}
      {% endwith %}
      <div class="container">
        <div style="float: right">
          {% if g.username %}
            <p>Logged in as <a href="{{ url_for('csvbase.user', username=g.username) }}">{{g.username}}</a>.
              (<a href="{{ url_for('csvbase.sign_out') }}">Sign out</a>)</p>
            {% else %}
              <a href="{{ url_for('csvbase.sign_in') }}">Sign in</a>
            {% endif %}
        </div>
      </div>
      {% block main %}
      {% endblock %}
    {% endblock %}
  </body>
</html>
