{# -*- mode: jinja2 -*- #}
{% extends "base.html" %}

{% block explainer %}
<div class="container">
  <div id='explain-alert' class="alert alert-light" role="alert" style="text-align: center; padding-top: 0; padding-bottom: 0">
    {% if table %}
    <p>csvbase is a website for <mark>hosting table data</mark>. Exporting this table to pandas is dead easy, run:</p>

    <p><code>import pandas as pd; {{table.table_name|snake_case}} = pd.read_csv("{{url_for('csvbase.table_view', username=table.username, table_name=table.table_name, _external=True)}}")</code></p>
    {% else %}
    <p>csvbase is a website for <mark>hosting table data</mark>.  For more details see the <a href="{{ url_for('csvbase.about') }}">about page.</a>
      {% endif %}
  </div>
</div>
{% endblock %}
