{# -*- mode: jinja2 -*- #}
{% extends "base.html" %}

{% block main %}
  <div class="container">
    <div class="px-4 py-2 text-center">
      <img alt="logo" src="{{ url_for('static', filename='logo/192x192.png') }}" width="192" height="192">
      <h1 class="display-5 fw-bold">csvbase <small class="text-muted">(pre-alpha)</small></h1>
      <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Turn CSV files into read+write APIs</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
          <a href="{{ url_for('csvbase.paste') }}"
             type="button"
             class="btn btn-primary btn-lg px-4 gap-3">Paste a CSV file</a>
          <a href="{{ url_for('csvbase.get_table', username='calpaterson', table_name='stock-exchanges') }}"
             type="button" class="btn btn-secondary btn-lg px-4 gap-3">See an example</a>
        </div>
      </div>
    </div>
  </div>

{# some notes for the revamp: #}
{# - you start with a csv file #}
{#   - or paste from ms excel #}
{# - you get a REST API #}
{#   - and, soon, graphql too #}
{# - easy to load into pandas #}
{#   - or R, or ms excel #}
{# - public or private #}
{# - open source (soon...) #}

  <div class="container px-4 py-5" id="featured-3">
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="feature col">
        <h2>Start with a CSV file</h2>
        <p>Or paste straight from MS Excel</p>
      </div>
      <div class="feature col">
        <h2>Public and private data</h2>
        <p>Post public data for others to consume or use private tables to store your own private data.</p>
      </div>
      <div class="feature col">
        <h2>Simple REST API</h2>
        <p>Any table you create via a CSV file automatically creates a simple REST API which you can use to read and write to the table.</p>
      </div>
    </div>
  </div>

{% endblock %}
