{# -*- mode: jinja2 -*- #}
{% extends "base.html" %}

{% block main %}
  <div class="container">
    <h1>Create a new table</h1>

    <div class="mb-3">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link {% if method == 'paste' %}active{%endif%}"
             href="{{ url_for('csvbase.paste') }}">Paste</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if method == 'upload-file' %}active{%endif%}"
             href="{{ url_for('csvbase.upload_file') }}">Upload file</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.endpoint == 'csvbase.blank_table' %}active{%endif%}"
             href="{{ url_for('csvbase.blank_table') }}">Blank table</a>
        </li>
      </ul>
    </div>

    {% if request.endpoint == "csvbase.blank_table" %}
      <div class="alert alert-danger" role="alert">
        Form works, but submitting does not (yet)
      </div>
    {% endif %}

    <form action="{{ action_url }}" method="POST" enctype="multipart/form-data">
      <div class="row mb-3 align-items-center">
        <div class="col-auto">
          <label class="col-form-label" for="table-name">Table name</label>
        </div>
        <div class="col-auto">
          <input type="text"
                 id="table-name"
                 class="form-control"
                 name="table-name"
                 required
                 pattern="^[A-z][-A-z0-9]+$"
                 title="Letters, numbers and dashes only.  Must start with a letter">
        </div>
      </div>

      {% block form_section %}
      {% if method == 'paste' %}
        <div class="mb-3">
          <textarea name="csv-textarea" class="form-control" rows="10" cols="50" autofocus></textarea>
          <div class="form-text">Either CSV or TSV works but be sure to include the header row</div>
        </div>
      {% endif %}

      {% if method == 'upload-file' %}
        <div class="mb-3">
          <input type="file" class="form-control" name="csv-file" accept=".csv,text/csv">
        </div>
      {% endif %}
      {% endblock %}

      <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" name="private" id="is-private">
        <label class="form-check-label" for="is-private">Private</label>
      </div>

      {% if not g.username %}
        <p>As you&apos;re not logged in, please create an account.  (If you already have an account, <a href="{{ url_for('csvbase.sign_in') }}">sign in</a>.)</p>
      <p>
        <label>Username</label>
        <input type="text" name="username" required pattern="^[A-z][-A-z0-9]+"
               title="Letters, numbers and dashes only.  Must start with a letter">
      </p>
      <p>
        <label>(Optional) Email</label>
        <input type="text" name="email" pattern=".*@.*"
               title="Must contain an @-sign">
      </p>
      <p>
        <label>Password</label>
        <input type="password" required name="password">
      </p>
    {% endif %}

    <p>
      <input type="submit" class="btn btn-primary" value="Create my API!">
    </p>
    </form>
  </div>
{% endblock %}
