{# -*- mode: jinja2 -*- #}
{% extends "base.html" %}

{% block main %}
  <div class="container">
    <h1>Paste a csv file to create a new API</h1>
    <form action="{{ url_for('csvbase.new_table_form_submission') }}" method="POST" enctype="multipart/form-data">
      <p>
        <label>Table name</label>
        <input type="text" name="table-name" required pattern="^[A-z][-A-z0-9]+$"
               title="Letters, numbers and dashes only.  Must start with a letter">
      </p>

      <p>
      <label>Paste (include the header row):</label>
      </p>
      <textarea name="csv-textarea" rows="10" cols="50" autofocus></textarea>

      <p>
        <label>Or upload a file</label>
      </p>
      <p>
        <input type="file" name="csv-file" accept=".csv,text/csv">
      </p>

      {% if not g.username %}
        <p>As you&apos;re not logged in, please create an account.  (If you already have an account, <a href="{{ url_for('csvbase.sign_in') }}">sign in</a>.)</p>
        <p>
          <label>Username</label>
          <input type="text" name="username" required pattern="^[A-z][-A-z0-9]+"
                 title="Letters, numbers and dashes only.  Must start with a letter">
        </p>
        <p>
          <label>(Optional) Email</label>
          <input type="text" name="email" pattern=".*@.*"
                 title="Must contain an @-sign">
        </p>
        <p>
          <label>Password</label>
          <input type="password" required name="password">
        </p>
      {% endif %}

      <p>
        <input type="submit" value="Create my API!">
      </p>
    </form>
  </div>
{% endblock %}
