{# -*- mode: jinja2 -*- #}
{% extends "blog_base.html" %}

{% block head %}
  {{ super() }}
  <meta name="twitter:card" content="summary_large_image">

  <meta property="og:type" content="article" />
  <meta property="og:url" content="{{ canonical_url or request.base_url }}" />
  <meta property="og:author" content="Cal Paterson" />
  <meta property="og:site_name" content="csvbase" />
  <meta property="og:title" content="{{ post.title|e }}" />
  <meta property="og:locale" content="en_GB" />
  <meta property="og:description" content="{{ post.description|e }}" />

  <meta name="description" content="{{ post.description|e }}">

  {% if post.posted != None %}
    <meta name="date" content="{{ post.posted.isoformat() }}">
    <meta property="article:published_time" content="{{ post.posted.isoformat() }}" />
  {% endif %}

  {% if post.draft %}
    <meta name="robots" content="noindex" />
  {% endif %}

<script type="application/ld+json">
{{ ld_json|safe }}
</script>

{% endblock %}

{% block main %}
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <figure class="figure">
          <img class="figure-img img-fluid rounded" src="{{ post.cover_image_url}}" alt="{{ post.cover_image_alt}}">
        </figure>

        <h1 class="py-2">{{ post.title }}</h1>
        <p class="blog-post-description">{{ post.description }}</p>
        <p class="blog-post-description">{{ post.render_posted() }}</p>
        {# FIXME: this should come from the post object somehow #}
        <p class="blog-post-description">by <a href="https://calpaterson.com">Cal Paterson</a></p>
        {% if post.draft %}
          <p class="blog-post-draft">DRAFT</p>
        {% endif %}

        {{ rendered|safe }}
      </div>
    </div>
  </div>
{% endblock %}
