{# -*- mode: jinja2 -*- #}
{% extends "base.html" %}

{% block head %}
  {{ super() }}
  <link rel="alternate" type="application/rss+xml" title="csvbase blog"
        href="{{ url_for('blog.rss', _external=True) }}">
{% endblock %}

{% block main %}
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <figure class="figure">
          <img class="figure-img img-fluid rounded" src="{{ post.cover_image_url}}" alt="{{ post.cover_image_alt}}">
        </figure>

        <h1 class="py-2">{{ post.title }}</h1>

        {{ rendered|safe }}
      </div>
    </div>
  </div>
{% endblock %}
