{# -*- mode: jinja2 -*- #}
{% extends "base.html" %}

{% import 'row_macros.html' as row_macros %}

{% block main %}
  <div class="container">
    <h1>Add a new row to <a href="{{ url_for('csvbase.user', username=table.username) }}"
                            >{{ table.username }}</a> / <a
                            href="{{ url_for('csvbase.table_view', username=table.username, table_name=table.table_name) }}"
                            >{{ table.table_name }}</a></h1>

  </div>
  <div class="container">
    <form
      action="{{ url_for('csvbase.create_row', username=table.username, table_name=table.table_name) }}"
      method="POST">
      {% for col in table.user_columns() %}
        <div class="mb-3 row g-3">
          <div class="col-2">
            <label class="col-form-label" for="{{col.name}}-input">{{ col.name }}</label>
          </div>
          <div class="col-auto">
            <input
              id="{{col.name}}-input"
              type="{{ row_macros.html_type(col) }}"
              name="{{ col.name }}" value="">
          </div>
        </div>
      {% endfor %}
      <div class="mb-3">
        <input class="btn btn-primary" type="submit" value="Save row">
      </div>
    </form>

  </div>
{% endblock %}
