{# -*- mode: jinja2 -*- #}
{% extends "base.html" %}

{% block main %}
  <div class="container">
    <h1 class="py-2"><a href="{{ url_for('csvbase.user', username=table.username) }}"
           >{{ table.username }}</a> / <a
           href="{{ url_for('csvbase.table_view', username=table.username, table_name=table.table_name) }}"
           >{{ table.table_name }}</a> / rows / <a
                        href="{{ url_for('csvbase.get_row', username=table.username, table_name=table.table_name, row_id=row_id) }}"
                        >{{ row_id }}</a></h1>
  </div>

  {% block body_contents %}
  {% endblock %}
{% endblock %}
