{# -*- mode: jinja2 -*- #}
{% extends "row.html" %}

{% import 'row_macros.html' as row_macros %}

{% block body_contents %}
  <div class="container">
    {% if g.current_username != username %}
      {{ row_macros.row_table(row) }}
    {% else %}
      <div class="py-3">
        <form
          action="{{ url_for('csvbase.update_row_by_form_post', username=username, table_name=table_name, row_id=row_id) }}"
          method="POST">
          {% for col, v in row.items() %}
            <div class="mb-3 row g-3">
              <div class="col-2">
                {% if col.name == "csvbase_row_id" %}
                  <label class="col-form-label" for="{{col.name}}-input">Row ID</label>
                {% else %}
                  <label class="col-form-label" for="{{col.name}}-input">{{ col.name }}</label>
                {% endif %}
              </div>
              <div class="col-auto">
                <input
                  {% if col.name == "csvbase_row_id" %}readonly{% endif %}
                  id="{{col.name}}-input"
                  type="{{ col.type_.html_type() }}"
                  name="{{ col.name }}"
                  {% if col.type_.name == "BOOLEAN" %}
                    {% if v %}
                      checked
                    {% endif %}
                  {% else %}
                    value="{{ v }}"
                  {% endif %}
                  >
              </div>
              {% if col.name == "csvbase_row_id" %}
                <div class="col-auto">
                  <div class="form-text">This cannot be changed</div>
                </div>
              {% endif %}
            </div>
          {% endfor %}
          <div class="mb-3">
            <input class="btn btn-primary" type="submit" value="Save row">
            <a href="{{ url_for('csvbase.row_delete_check', username=username, table_name=table_name, row_id=row_id) }}"
               class="btn btn-danger">Delete row</a>
          </div>
        </form>
      </div>
    {% endif %}
  </div>
{% endblock %}
