{# -*- mode: jinja2 -*- #}
{% extends "app_base.html" %}

{% block main %}
  <div class="container">
    <h1>Sign in to your account</h1>
    <form method="POST">
      {% if whence %}
        <input type="hidden" name="whence" value="{{ whence }}">
      {% endif %}
      <p>
        <label>Username</label>
        <input type="text" name="username" required pattern="^[A-z][-A-z0-9]+"
               title="Letters, numbers and dashes only.  Must start with a letter"
               autofocus>
      </p>
      <p>
        <label>Password</label>
        <input type="password" required name="password">
      </p>

      <p>If you don&apos;t already have an account, why not <a href="{{url_for('csvbase.register')}}">register</a>?</p>

      <input class="btn btn-primary" type="submit" value="Sign in">
    </form>
  </div>
{% endblock %}
