{# -*- mode: jinja2 -*- #}
{% extends "base.html" %}

{% block main %}
  <div class="container">
    <h1>Sign in</h1>
    <form method="POST">
      {% if whence %}
        <input type="hidden" name="whence" value="{{ whence }}">
      {% endif %}
      <p>
        <label>Username</label>
        <input type="text" name="username" required pattern="^[A-z][-A-z0-9]+"
               title="Letters, numbers and dashes only.  Must start with a letter"
               autofocus>
      </p>
      <p>
        <label>Password</label>
        <input type="password" required name="password">
      </p>
      <input type="submit" value="Sign in">
    </form>
  </div>
{% endblock %}
