{# -*- mode: jinja2 -*- #}
{% extends "base.html" %}

{% block main %}
  <div class="container">
    <h1>{{ username }}/{{ table_name }}</h1>
  </div>
  <div class="container">
    <table class="table">
      <thead>
        <tr>
          {% for col in cols %}
            {% if col == "csvbase_row_id" %}
              <th>Row ID</th>
            {% else %}
              <th>{{col}}</th>
            {% endif %}
          {% endfor %}
        </tr>
      </thead>

      {% for row in row_iter %}
        <tr>
          {% for col in row %}
            {% if loop.index == 1 %}
              <td><a
                    href="{{ url_for('csvbase.get_row', username=username, table_name=table_name, row_id=col) }}"
                    >{{col}}</a></td>
            {% else %}
              <td>{{col}}</td>
            {% endif %}
          {% endfor %}
        </tr>
      {% endfor %}
    </table>
  </div>
{% endblock %}
