{# -*- mode: jinja2 -*- #}
{% extends "table.html" %}

{% block tab_contents %}
  <div class="container">
    <div class="mb-3">
      <h2>Edit settings</h2>
      <form method="POST">
        <div class="row mb-3">
          <div class="col-auto">
            <label for="table-caption" class="form-label">Caption</label>
            <input
              type="text"
              class="form-control"
              id="table-caption"
              size="50"
              maxlength="200"
              name="caption"
              value="{{ table.caption }}">
              <div class="form-text">A short caption outlining what the table contains.</div>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-auto">
            <label for="table-readme" class="form-label">Readme</label>
            <textarea
              rows="10"
              cols="50"
              class="form-control"
              style="resize: both"
              id="table-readme"
              name="table-readme-markdown"
              >{{ table_readme }}</textarea>
              <div class="form-text">Space to explain more.  <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet">Markdown</a> supported (but not HTML).</div>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-auto">
            <label for="licence-select" class="col-form-label">Data licence</label>
          </div>
          <div class="col-auto">
            <select class="form-select" name="data-licence">
              {% for data_licence in DataLicence %}
                <option {% if data_licence == table.data_licence %}selected{% endif %}
                        value="{{ data_licence.value }}">{{ data_licence.render() }}</option>
                      {% endfor %}
            </select>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-auto">
            <input
              type="checkbox"
              class="form-check-input"
              name="private"
              {% if not table.is_public %}checked{% endif %}
              id="is-private">
              <label class="form-check-label" for="is-private">Private</label>
          </div>
        </div>

        <div class="row">
          <div class="col-auto">
            <input type="submit" class="btn btn-success" value="Save settings">
          </div>
        </div>
      </form>
    </div>

    {% if g.current_username == table.username %}
      <h2>Delete table</h2>
      <div class="alert alert-danger" role="alert">
        Not yet implemented
      </div>
      <form>
        <div class="row">
          <div class="col-auto">
            <input
              type="text"
              class="form-control"
              pattern="^{{table.table_name}}$"
              required
              title="<username>/<table_name>"
              >
          </div>
          <div class="col-auto">
            <input type="submit" disabled class="btn btn-danger" value="Delete table forever">
          </div>
        </div>
      </form>
    {% endif %}
  </div>
{% endblock %}

