{# -*- mode: jinja2 -*- #}
{% extends "base.html" %}

{% block main %}
  <div class="container">
    <h1><a href="{{ url_for('csvbase.user', username=username) }}">{{ username }}</a>/<a href="{{ url_for('csvbase.get_table', username=username, table_name=table_name) }}">{{ table_name }}</a></h1>

    <div class="mb-3">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link {% if request.endpoint == 'csvbase.get_table' %}active{%endif%}"
             href="{{ url_for('csvbase.get_table', username=username, table_name=table_name) }}">View</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.endpoint == 'csvbase.get_table_apidocs' %}active{%endif%}"
             href="{{ url_for('csvbase.get_table_apidocs', username=username, table_name=table_name) }}"
             >API docs (Pandas, R, RESTful HTTP)</a>
        </li>
      </ul>
    </div>
  </div>


  {% block tab_contents %}
  {% endblock %}

{% endblock %}
