{# -*- mode: jinja2 -*- #}
{% extends "base.html" %}

{% macro data_licence_badge(data_licence) %}
  <span
    style="font-size: 0.75rem"
    class="badge {% if data_licence.value == 0 %}bg-danger{% else %}bg-success{% endif %}"
    >{{ data_licence.short_render() }}</span>
{% endmacro %}

{% macro privacy_badge(table) %}
  {% if not table.is_public %}
    <span
      style="font-size: 0.75rem"
      class="badge bg-secondary"
      >Private</span>
  {% endif %}
{% endmacro %}

{% block main %}
  <div class="container">
    <h1
      class="py-2"><a
      href="{{ url_for('csvbase.user', username=username) }}">{{ username }}</a> / <a
      href="{{ url_for('csvbase.get_table', username=username, table_name=table.table_name) }}"
      >{{ table.table_name }}</a> {{ data_licence_badge(table.data_licence) }} {{ privacy_badge(table) }}</h1>

    {% if table.has_caption() %}
      <blockquote class="blockquote">{{table.caption}}</blockquote>
    {% endif %}

    <div class="mb-3">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link {% if request.endpoint == 'csvbase.get_table' %}active{%endif%}"
             href="{{ url_for('csvbase.get_table', username=username, table_name=table.table_name) }}">View</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled"
             href="">Readme</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.endpoint == 'csvbase.table_details' %}active{%endif%}"
             href="{{ url_for('csvbase.table_details', username=username, table_name=table.table_name) }}">Schema/details</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.endpoint == 'csvbase.table_export' %}active{%endif%}"
             href="{{ url_for('csvbase.table_export', username=username, table_name=table.table_name) }}"
             >Export (Excel, Pandas, R, etc)</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.endpoint == 'csvbase.get_table_apidocs' %}active{%endif%}"
             href="{{ url_for('csvbase.get_table_apidocs', username=username, table_name=table.table_name) }}"
             >API (REST)</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled"
             href=""
             >API (GraphQL)</a>
        </li>
        {% if username == g.username %}
          <li class="nav-item">
            <a class="nav-link {% if request.endpoint == 'csvbase.table_settings' %}active{%endif%}"
               href="{{url_for('csvbase.table_settings', username=username, table_name=table.table_name)}}"
               >Settings</a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>


  {% block tab_contents %}
  {% endblock %}

{% endblock %}
