{# -*- mode: jinja2 -*- #}
{% extends "table.html" %}

{% block tab_contents %}
  <div class="container">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            {% for col in table.columns %}
              {% if col.name == "csvbase_row_id" %}
                <th>Row ID</th>
              {% else %}
                <th>{{ col.name }}</th>
              {% endif %}
            {% endfor %}
          </tr>
        </thead>

        <tbody>
        {% for row in page.rows %}
          <tr>
            {% for col in row %}
              {% if loop.index == 1 %}
                <td><a
                      href="{{ url_for('csvbase.get_row', username=username, table_name=table_name, row_id=col) }}"
                      >{{col}}</a></td>
                    {% else %}
                      <td>{{col}}</td>
                    {% endif %}
                  {% endfor %}
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>

  <nav>
    <div class="row">
      <div class="col-auto">
        <a class="btn btn-success" disabled>Add row</a>
      </div>
      <div class="col-md-4 offset-md-3">
    <ul class="pagination justify-content-center">
      {% if page.has_less %}
        <li class="page-item">
          <a class="page-link"
             href="{{ url_for('csvbase.table_view', username=username, table_name=table_name, op='lt', n=page.rows[0].csvbase_row_id) }}">Previous page</a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1">Previous page</a>
        </li>
      {% endif %}

      <li class="page-item active">
        {% if page.rows %}
          <a class="page-link" href="#">Rows {{ page.rows[0].csvbase_row_id }} to {{ page.rows[-1].csvbase_row_id }}</a>
        {% else %}
          <a class="page-link" href="#">Row {{keyset.n + 1}} onwards</a>
        {% endif %}
      </li>

      {% if page.has_more %}
        <li class="page-item">
          <a class="page-link"
             href="{{ url_for('csvbase.table_view', username=username, table_name=table_name, op='gt', n=page.rows[-1].csvbase_row_id) }}">Next page</a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1">Next page</a>
        </li>
      {% endif %}
    </ul>
    </div>
  </nav>
{% endblock %}
