{# -*- mode: jinja2 -*- #}
{% extends "base.html" %}

{% import 'table_macros.html' as table_macros %}

{% block main %}
  <div class="container">
    <h1><a href="{{ url_for('csvbase.user', username=username) }}">{{ username }}</a></h1>

    <p>Registered {{ user.registered|dateformat }}</p>

    <h2>Tables</h2>
    {% for table in tables %}
      <div class="row">
        <div class="col-md-8">
          {{ table_macros.table_card(table) }}
        </div>
      </div>
    {% endfor %}
    {% if g.current_username == username %}
      <p>Or <a href="{{ url_for('csvbase.paste')}}"> paste a new table</a></p>

      <h2>Your API Key</h2>
      <code>{{ g.current_user.hex_api_key() }}</code>

      <h2>Account controls</h2>
      <a href="{{ url_for('csvbase.sign_out') }}" class="btn btn-danger">Sign out</a>
    {% endif %}
  </div>
{% endblock %}
