{# -*- mode: jinja2 -*- #}
{% extends "base.html" %}

{% block main %}
  <div class="container">
    <h1><a href="{{ url_for('csvbase.user', username=username) }}">{{ username }}</a></h1>
    <h2>Your tables</h2>
    <ul>
      {% for table_name in table_names %}
        <li><a href="{{ url_for('csvbase.table_view', username=username, table_name=table_name) }}">{{table_name}}</a></li>
      {% endfor %}
    </ul>
    <p>Or <a href="{{ url_for('csvbase.paste')}}"> paste a new table</a></p>
    {% if g.username == username %}
      <h2>Account controls</h2>
      <a href="{{ url_for('csvbase.sign_out') }}" class="btn btn-danger">Sign out</a>
    {% endif %}
  </div>
{% endblock %}
