{# -*- mode: jinja2 -*- #}
{% extends "app_base.html" %}

{% block main %}
<div class="container">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <h1 class="py-2">Support csvbase</h1>
      <p>
        csvbase is an <a href="https://github.com/calpaterson/csvbase">open
        source project</a> and is <a href="/faq/usage">free for open data</a>.
      </p>
      <p>
        If you find csvbase useful - or simply think it is cool - you can
        support it by subscribing.
      </p>
      <p>
        Subscriptions operate under a pay-what-you-want model, with a 1 euro
        minimum.  Subscribing supports further development of csvbase, and
        <mark>allows your account to create private tables</mark>.
      </p>
      <div class="d-grid justify-content-center">
        {% if has_subscription %}
          <p>You are already subscribed. <a href="{{ url_for('billing.manage') }}">Manage your subscription</a>.
        {% else %}
          <a href="{{ url_for('billing.subscribe') }}"
             class="btn btn-success btn-lg active text-center"
             role="button"
             >Become a supporter</a>
        {% endif %}
        <div class="text-center">
          <p>Have a question?  Feel free to <a href="mailto:cal@calpaterson.com">get in contact</a><p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
