/* Navbar bg colour */
#csvbase-nav {
    background-color: --bs-body-bg;
}

.table-card {
    margin-bottom: 1em;
}

/* Stuff to do with praising */
#praise-button:hover {
    background-color: var(--bs-warning);
    border-color: var(--bs-warning);
    color: var(--bs-body-color);
}

.icon {
    display: inline-block;
    overflow: hidden;
    height: 1.5em;
    width: 1.5em;
    margin-right: 0.1em;
}

#table-icon {
    height: 1em;
    width: 1em;
}

@media (prefers-color-scheme: dark) {
    #table-icon {
        filter: invert(0.8);
    }
}

.icon-invert {
    filter: invert(0.8);
}

.icon-hidden {
    display: none;
}

#praise-button:hover .icon {
    display: none;
}

#praise-button:hover .icon-hidden {
    display: inline-block;
}

#praise-button:hover #praise-span {
    display: none;
}

#praise-button:hover:after {
    content: "Praise";
}

/* reducing bottom margin off the explain alert */
#explain-alert {
    text-align: center;
    padding: 0;
}

#explain-alert > p {
    padding: 0;
    margin: 0;
}


.blog-post-description {
    font-style: oblique;
}

.blog-post-draft {
    font-weight: bold;
    text-align: center;
}

/* FIXME: remove this from wherever it is used */
.blog-post-blockquote {
    margin: 1em;
    border-left: 0.2em solid grey;
    padding-left: 1em;
    font-style: oblique;
}

blockquote {
    margin: 1em;
    border-left: 0.2em solid grey;
    padding-left: 1em;
    font-style: oblique;
}

.blog-rss {
    font-style: oblique;
}

textarea {
    resize: both;
}

.table-topline {
    font-size: large;
}

.table-caption {
    font-style: oblique;
}

.blog-post img {
    width: 100%;
}

.blog-post figure > img {
    width: 80%;
    display: block;
    margin: auto;
}

.blog-post-date {
    float: right;
}

.blog-post-2 pre {
    white-space: pre-wrap;
}

.form-type-hint {
    font-size: smaller;
}

input.table-pastable {
    font-family: monospace;
    font-size: smaller;
}

.faq-entry-md img {
    max-width: 100%;
}

.hidden-praise-form {
    display: none;
}

#praise-button > img {
    max-height: 1.2em;
    max-width: 1.2em;
}

.footer-logo {
    margin: auto;
}

/* Tweaks for threads */
.comment img {
    max-width: 100%;
}

.comment-avatar {
    max-height: 2em;
    border-radius: 10px;
    margin-right: 0.3em;
    margin-left: 0.3em;
}
