/* Navbar bg colour */
#csvbase-nav {
    background-color: #ffffff;
}

.table-card {
    margin-bottom: 1em;
}

/* Stuff to do with praising */
#praise-button:hover {
    background-color: var(--bs-warning);
    border-color: var(--bs-warning);
    color: var(--bs-body-color);
}

.icon {
    display: inline-block;
    overflow: hidden;
    height: 1.5em;
    width: 1.5em;
    margin-right: 0.1em;
}

.icon-invert {
    filter: invert(0.8);
}

.icon-hidden {
    display: none;
}

#praise-button:hover .icon {
    display: none;
}

#praise-button:hover .icon-hidden {
    display: inline-block;
}

#praise-button:hover #praise-span {
    display: none;
}

#praise-button:hover:after {
    content: "Praise!";
}

/* reducing bottom margin off the explain alert */
#explain-alert {
    text-align: center;
    padding: 0;
}

#explain-alert > p {
    padding: 0;
    margin: 0;
}


.blog-post-description {
    max-width: 30rem;
    font-style: oblique;
    margin: auto;
    text-align: center;
    margin-bottom: 1em;
}

.blog-post-blockquote {
    margin: 1em;
    border-left: 0.2em solid grey;
    padding-left: 1em;
    font-style: oblique;
}

.blog-rss {
    font-style: oblique;
}
